# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# General (Mac OS)
.DS_Store
**/.DS_Store

# Yarn
yarn.lock
.yarn-integrity

# VSCode
.vscode/

# Jetbran IDE's
.idea/
out/
.idea_modules/

# TypeScript
**/*.js
**/*.d.ts
**/*.js.map
**/*.d.ts.map
lib/
**/tsconfig.tsbuildinfo

# Testing
.nyc_output/
